:root {
  --top-nav-link-color: #777;
  --top-nav-link-color-hover: #222;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 400px;
  aspect-ratio: 1.7;
  padding: 5px;
  filter: drop-shadow(5px -1px 8px #000000);
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(109, 109, 109);
  border-radius: 10px;
}

.card-body {
  flex: 3;
  font-size: 20px;
  background-color: white;
}

.card-footer {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.quixotry-interactive {
  font-size: 32px;
}


.principal {
  display: block;
  text-align: right;
}

.name-row {
  padding-top: 2px;
}

.contact-row {
  padding-top: 5px;
}

.contact-link {
  text-decoration: none;
  filter: brightness(100%);
}

.contact-link:visited {
  text-decoration: none;
  filter: brightness(100%); /* Same as normal value */
}

.contact-link:hover {
  text-decoration: none;
  filter: brightness(0%);
}

.contact-link:active {
  text-decoration: none;
  filter: brightness(100%);
}
