:root {
  --top-nav-link-color: #777;
  --top-nav-link-color-hover: #222;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
}

@font-face {
  font-family: customFont;
  src: url(./fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf);
  font-weight: bold;
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(38, 26, 61);
}

.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 400px;
  aspect-ratio: 1.7;
  padding: 5px;
  filter: drop-shadow(5px -1px 8px #000000);
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(109, 109, 109);
  border-radius: 10px;
}

.card-body {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.card-footer {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}


.quixotry-interactive {
  width: 100%;
  text-align: center;
  padding-bottom: 18px;
  font-size: 55px;
  color: #333;
}

.first-letter {
  font-family: customFont, sans-serif;
  font-weight: 700;
  color: black;
}

.ux-ixd {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #555;
}

.principal {
  display: block;
  text-align: center;
}

.name-row {
  padding-top: 2px;
}

.contact-row {
  padding-top: 5px;
}

.contact-link {
  text-decoration: none;
  filter: brightness(100%);
}

.contact-link:visited {
  text-decoration: none;
  filter: brightness(100%); /* Same as normal value */
}

.contact-link:hover {
  text-decoration: none;
  filter: brightness(0%);
}

.contact-link:active {
  text-decoration: none;
  filter: brightness(100%);
}
